# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# PyCharm
.idea/
*.iml

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# ML experiments
mlruns/

# Parquet outputs
*.parquet

# OS junk
.DS_Store
Thumbs.db

src/results/
src/data/

/paper_figs/

/final_plots/
